<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vexe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/body.css">
    <link rel="stylesheet" href="assets/css/maukhung.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">EC1806 </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="#">TRANG CHỦ</a></li>
                    <li role="presentation"><a href="#">GIỚI THIỆU</a></li>
                    <li role="presentation"><a href="#">LIÊN HỆ</a></li>
                    <li role="presentation"><a href="#">QUY ĐỊNH CHUNG</a></li>
                    <li role="presentation"><a href="#">ĐĂNG NHẬP</a></li>
                    <li role="presentation"><a href="#">ĐĂNG KÝ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="color:red">Cùng EC1806 đi hết khắp mọi miền đất nước</h4>
                    <br>
<br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group form-inline"><span class="label label-default">Số điện thoại </span>
                            <input class="form-control" type="tel" required="" style="position: absolute; right:60px">
                            <br>
<br>
                        </div>
                        <div class="form-group form-inline"><span class="label label-default">Mật khẩu</span>
                            <input class="form-control" type="password" style="position: absolute; right:60px">
                            <br>
<br>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg" type="submit" style="position: absolute; right:130px">Đăng nhập</button>
                            <br>
<br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/myjs.js"></script>
    <script src="assets/js/confirmpassword.js"></script>
</body>

</html>