<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vexe</title>
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/fonts/material-icons.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="stylesheet" href="./assets/css/body.css">
    <link rel="stylesheet" href="./assets/css/maukhung.css">
</head>

<body>
  
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h4 class="text-uppercase text-danger">Huỷ vé thành công</h4>
            <form ng-submit="spHuyVe()">
                <div class="form-group form-inline">
                    <label class="control-label">Số điện thoại</label>
                    <input class="form-control" type="text" ng-model="sodt">
                    <label ng-if="messSDT" >{{messSDT}}</label>
                </div>
                <div class="form-group form-inline">
                    <label class="control-label">Mã vé</label>
                    <input class="form-control" type="text" ng-model="idve" style="position: absolute; left: 105px">
                    <label ng-if="messVE" >{{messVE}}</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Huỷ vé</button>
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/js/myjs.js"></script>
    <script src="./assets/js/confirmpassword.js"></script>
</body>

</html>