<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vexe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/body.css">
    <link rel="stylesheet" href="assets/css/maukhung.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"> <img class="img-circle" src="assets/img/logo.jpg" width="40PX"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="#">TRANG CHỦ</a></li>
                    <li role="presentation"><a href="#">NHÀ XE</a></li>
                    <li role="presentation"><a href="#">KIỂM TRA VÉ</a></li>
                    <li role="presentation"><a href="#">HUỶ VÉ</a></li>
                    <li role="presentation"><a href="#"> LIÊN HỆ</a></li>
                    <li role="presentation"><a href="#">GIỚI THIỆU VÀ QUY ĐỊNH CHUNG</a></li>
                    <li role="presentation"><a href="dangnhap.html">ĐĂNG NHẬP</a></li>
                    <li role="presentation"><a href="dangky.html">ĐĂNG KÝ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <form>
                <div class="form-group form-inline">
                    <label class="control-label">Họ tên </label>
                    <input class="form-control" type="text" style="position: absolute; right: 50px">
                    <br>
<br>

                </div>
                <div class="form-group form-inline">
                    <label class="control-label">Email </label>
                    <input class="form-control" type="text" style="position: absolute; right: 50px">
                    <br>
<br>

                </div>
                <div class="form-group form-inline">
                    <label class="control-label">Điện thoại</label>
                    <input class="form-control" type="text" style="position: absolute; right: 50px">
                    <br>
<br>

                </div>
                <div class="form-group form-inline">
                    <label class="control-label">Nội dung </label>
                    <textarea class="form-control" style="position: absolute; right: 65px"></textarea>
                    <br>
<br>

                    <br>
<br>

                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit" style="position:  absolute; right: 150px">Gửi </button>
                </div>
            </form>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/myjs.js"></script>
    <script src="assets/js/confirmpassword.js"></script>
</body>

</html>