<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vexe</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/body.css">
    <link rel="stylesheet" href="assets/css/maukhung.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">EC1806 </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active" role="presentation"><a href="#">TRANG CHỦ</a></li>
                    <li role="presentation"><a href="#">NHÀ XE</a></li>
                    <li role="presentation"><a href="#">HUỶ VÉ</a></li>
                    <li role="presentation"><a href="#">GIỚI THIỆU VÀ LIÊN HỆ</a></li>
                    <li role="presentation"><a href="#">QUY ĐỊNH CHUNG</a></li>
                    <li role="presentation"><a href="dangnhap.html">ĐĂNG NHẬP</a></li>
                    <li role="presentation"><a href="dangky.html">ĐĂNG KÝ</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="row">
                <div class="col-md-12"><img src="assets/img/spa-express.jpg" width="100%" height="100%"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Hành trình</h3></div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tuyến đường</th>
                                    <th>Mô tả</th>
                                    <th>Loại xe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Hà Nội-Sapa</td>
                                    <td>Limousine VIP 29 ghế </td>
                                    <td>VIP 28 chỗ ngồi </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <h3>Sapa Express</h3>
            <p>
Các tuyến xe phổ biến Sapa Express:
</p>
<p>
Xe Sapa Exress Hà nội đi Sapa
</p>
<p>
Giờ đi: 07.00, 07.30, 22.00
</p>
Xe Sapa Express từ Sapa về Hà nội
<p>
Giờ về: 13.30, 15.30, 16.00
</p>
<p>
Điện thoại đặt vé xe: 0988 911 777
</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label>Điểm đánh giá: </label>
                    <select>
                        <option value="1" selected="">1</option>
                        <option value="13">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-success" type="submit">Đánh giá</button>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/myjs.js"></script>
    <script src="assets/js/confirmpassword.js"></script>
</body>

</html>